{% extends 'news/base.html' %}

{% block title %}
    Categories
{% endblock %}

{% block content %}

    <div class="row">
        {% for news in news_list %}
            <div class="col-md-4 mb-3">
                <a href="{% url 'details' news.id %}" class="card-link">
                    <div class="card h-100">
                        <img src="{{ news.media.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ news.title }}</h5>
                            <p class="card-text">{{ news.content | truncatewords:10 }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}