{% extends "news/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form class="w-50 mx-auto" method="POST" novalidate>
        {% csrf_token %}
        <h2>Login</h2>
        {{ form|crispy }}
        <input type="submit" value="Login"/>

        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>

{% endblock %}