{% extends "news/base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<!-- User -->
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                {% if user.avatar %}
                <img src="{{ user.image.url }}" alt="Profile Picture" class="img-fluid mb-3 mx-auto"
                     style="max-width: 200px;">
                {% else %}
                <img src="{% static 'news/images/profile.png' %}" alt="Default Profile Picture"
                     class="img-fluid mb-3 mx-auto" style="max-width: 200px;">
                {% endif %}
                <h4 class="card-title font-weight-bold text-center">Hello, {{ user.username|title }}</h4>
                <hr>
                <div class="card-text">
                    <p class="text-muted mb-0" style="font-size: 12px">Username:</p>
                    <p>{{ user.username }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Name:</p>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="text-muted mb-0" style="font-size: 12px">Email:</p>
                    <p>{{ user.email }}</p>
                    {% if request.user.id == user.id %}
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                                data-target="#profileModal">Edit Profile
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data" action="{% url 'update_profile' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               value="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name"
                               value="{{ user.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name"
                               value="{{ user.last_name }}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label for="picture">Picture</label>
                        <input type="file" id="picture" name="picture" class="form-control-file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
