/*Main page*/
body {
    padding-bottom: 100px;
}

.card-link {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 20px;
    padding: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    line-height: 1.4;
}

@media (max-width: 767px) {
    .card-img-top {
        height: 300px;
    }
}